@charset "UTF-8";
/* CSS Document */

body{
	background-color:#ddd;
	margin:0px;
	}

	
#conteneur{
	width:100%;

	margin:0 auto;
	
}
#rechercheLivre
{
padding-top : 10px;
padding-left : 30px;
}
#resultRecherche
{
padding: 10px;
margin: 30px;
}
#btnRecherche
{
color:white;
	width:120px;
	margin-top : 20px;
	background: #333;
	border-radius: 10px;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;;
}
#btnRecherche:hover
{
background:RGB(120,190,40);

}
.clear{
clear:both;
}
#contenu
{
	min-height : 400px;
	margin:0 auto;
	background-color:#F6F4EA;
}
.contenuPrinc
{
color:white;
font-size: 18px;
}
.contenuPrinc:visited
{
color:white;


}
.contenuPrinc:hover
{
color:RGB(120,190,40);


}
header
{
position:relative;
z-index:1;
 top:0px;
 background-color: #222;
width:100%;
border-bottom : 2px;
}
header h1
{

	color : white;
	display : inline-block
}
header h1>a
{
	font-size : 80%;
	text-decoration : none;
	color:white;
}
header h1>a:visited
{
	color:white;
}
.logo
{
	width : 40px;
	float : left;
}
footer {width:100%; position:relative; overflow:hidden; text-align:center; padding:32px 0 45px 0;  background-color: #333;}
footer p, footer a {color:white;}
.lienHautPageConn
{
display:inline-block;
margin-left:40%;
margin-top: 0px;
padding-bottom: 10px;
color : white;
width : 300px;
}
.lienHautPageConn a
{
	padding-left: 20px;
	text-decoration : none;
	color : white;
	
}
.lienHautPageConn a:visited
{

	color : white;
	
}
.lienHautPageConn a:hover
{

	color:RGB(120,190,40);
}
hr
{
"width:400px; color:firebrick; background-color:firebrick; height:2px;"
}

h1{
	color:RGB(34,64,53);
	}
	
h2{
    background: linear-gradient(to right,#333, #F6F4EA);
	color:white;
	padding: 5px;
	
	}
	
h3
{
text-decoration:underline;
font-size:22px;

}

li
{
list-style-type: none;
}

#droite, #article, #piedcontenu, #menu ul{
	background-color:white;
	}
#menu 
{
 padding-top : 0px;
 
}

#menu ul li a:visited
{
	color:white;
}

#menu ul li a:hover
{
	background-color: RGB(120,190,40);
}

	
#menu  li
{
float:left;
}
#menu ul 
{
 list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	 }

#menu  li a{
  display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#article
{
	background-color:#F6F4EA;
	display:inline-block;
	padding:10px;
	width:100%;
}
article
/* ------------------------------------------------------------------------------- */
thead tr{
	background-color:#ddd;
}
table
{
    border-collapse: collapse;
	margin: 20px;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
	height: 35px;
	padding-left:5px;
}
 
img {
padding:10px;
}
#horaire
{
	margin: 0 auto;
	width:400px;
}
.choisi
{
	background-color: RGB(120,190,40);
}
#titrePage
{
	color:RGB(34,64,53);
	background: none;
}
#form1 
{

	margin-bottom:5px;
	padding-left:50px;
	padding-top : 30px;
	padding-bottom : 30px;
}
#form1 p
{
align: left;
margin:0px auto;
}

#form1 label
{
	width:130px;
	display : inline-block;
	
}
#form1 input[type="text"]{
	width:172px;
}
#form2
{

	margin-bottom:5px;
	padding-left:50px;
	padding-top : 30px;
	padding-bottom : 30px;
}
#form2 p
{
align: left;
margin:0px auto;
}

#form2 label
{
	width:80px;
	display : inline-block;
	
}
#form2 input[type="text"]{
	width:400px;
}
#bold
{	
	font-weight: normal;
}

.boutton{

	color:white;
	width:175px;
	margin-top : 20px;
	background: #333;
	border-radius: 10px;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	
}
.boutton:hover{
	background:RGB(120,190,40);
}

.error {
	color:#f55;
}
.reussite {
	color: green;
}



